@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@100;200;300;400;500;600;700&display=swap);

:root {
  --Condensed :'Open Sans Condensed', Arial , sans-serif;
  --OpenSans : 'Open Sans' , Arial , sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--OpenSans);
  scroll-behavior: smooth;
}

.container{
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  max-width: 1536px;
  min-height: auto;
  margin: 0px auto;
}

header {
  width: 100%;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 130px;
  background-color: white;
}

header > .header-container{
  max-width: 1310px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav > ul > li {
  margin-right: 32px;
}
nav > ul > li > a {
  text-decoration: none;
  font-weight: 700;
  line-height: 21px;
  font-size: 15px;
  text-transform: uppercase;
  color: #222;
}
nav > ul > li > a:hover{
  color: #DE2E54;
  transition: color .2s ease;
}

.site-logo {
  width: 185px;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
}
.site-logo > img {
  margin-right: 16px;
}
.site-logo > h2 {
  font-weight: 500;
}
.site-logo:hover{
  color: #DE2E54 !important;
  transition: color .2s ease;
}

.actions_entry_link {
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: var(--Condensed);
  color: #fff;
  display: inline-block;
  padding: 14px 26px;
  letter-spacing: .6px;
  font-weight: 700;
  border: 2px solid #DE2E54;
  background-color: #DE2E54;
  text-transform: uppercase;
}
.actions_entry_link:hover{
  border: 2px solid #ae2341;
  background-color: #ae2341;
  transition: background-color .2s ease , border .2s ease;
}

main {
  width: 100%;
}
main > .site-hero{
  width: 100%;
  height: 536px;
  background-color: #0EB4C1;
  padding: 0px 130px;
}
main > .site-hero > .hero-container {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main > .site-hero > .hero-container > .hero-content {
  width: 500px;
  height: 310px;
  color: #fff;
}
main > .site-hero > .hero-container > .hero-content > .hero-content-parent{
  margin-bottom: 36px;
}
main > .site-hero > .hero-container > .hero-content > .hero-content-parent > h1{
  font-family: var(--Condensed);
  margin-bottom: 15.5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}
main > .site-hero > .hero-container > .hero-content > .hero-content-parent > p{
  font-size: 18px;
  line-height: 27px;
}
main > .site-hero > .hero-container > .hero-parsonal-men{
  margin-top: 33px;
}

main > .site-lists {
  width: 100%;
  min-height: 1490px;
  padding: 120px 280px;
  text-align: center;
}
main > .site-lists > .lists-container {
  max-width: 976px;
}
main > .site-lists > .lists-container > h2 {
  font-size: 39px;
  font-weight: 700;
  letter-spacing: .6px;
  line-height: 43px;
  font-family: var(--Condensed);
  margin-bottom: 65px;
}
main > .site-lists > .lists-container > .list {
  width: 100%;
  list-style: none;
}
main > .site-lists > .lists-container > .list > .item {
  width: 100%;
  min-height: 200px;
  display: flex;
  margin-bottom: 80px;
}
main > .site-lists > .lists-container > .list > .item:last-child {
  margin-bottom: 60px;
}
main > .site-lists > .lists-container > .list > .item > img {
  margin-right: 64px;
}
main > .site-lists > .lists-container > .list > .item > .item-content{
  margin-top: 25px;
  height: 170px;
  text-align: left;
}
main > .site-lists > .lists-container > .list > .item > .item-content > h3 {
  font-size: 25px;
  line-height: 29px;
  color: #222;
  font-family: var(--Condensed);
  margin-bottom: 24px;
  font-weight: 700;
}
main > .site-lists > .lists-container > .list > .item > .item-content > p{
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}

main > .site-contact {
  width: 100%;
  min-height: 257px;
  background-color: #0EB4C1;
  color: white;
}
main > .site-contact > .container-contact{
  max-width: 1536px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
main > .site-contact > .container-contact > h2 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  font-family: var(--Condensed);
  margin-bottom: 40px;
}
main > .site-contact > .container-contact > .buttons-contact {
  width: 470px;
  display: flex;
  align-items: center;
  margin-left: 110px;
}
main > .site-contact > .container-contact > .buttons-contact > .button {
  margin-right: 20px;
  font-size: 15px;
  line-height: 18px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  text-transform: uppercase;
  padding: 14px 26px;
  border-radius: 8px;
  cursor: pointer;
}
main > .site-contact > .container-contact > .buttons-contact > .button:hover{
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  transition: background-color .2s ease , border .2s ease;
}

footer {
  width: 100%;
  height: 98px;
  background-color: #222;
}
footer > .footer-container {
  padding: 24px 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer > .footer-container > .footer-logo{
  color: white;
}
.footer-link{
  color: white;
}